{% extends "theme/base.html" %}
{% load staticfiles %}

{% block title %}
Doctor : SE hospital
{% endblock %}

{% block content %}
<!-- edit.html {{num}} -->
        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
       
      
<div class="row">
                        <div class="col-md-12">
                            <!-- Basic Wizard Block -->
                            <div class="block">
                                <!-- Basic Wizard Title -->
                                <div class="block-title">
                                    <h2><strong>Basic</strong> Wizard</h2>
                                </div>
                                <!-- END Basic Wizard Title -->

                                <!-- Basic Wizard Content -->
                                <form id="basic-wizard"  method="post" class="form-horizontal form-bordered">
                                    <!-- First Step -->
                                    <div id="first" class="step">
                                        <!-- Step Info -->
                                        <div class="wizard-steps">
                                            <div class="row">
                                                <div class="col-xs-4 active">
                                                    <span>1. Account</span>
                                                </div>
                                                <div class="col-xs-4">
                                                    <span>2. Personal</span>
                                                </div>
                                                <div class="col-xs-4">
                                                    <span>3. Extras</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Step Info -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="example-username">Username</label>
                                            <div class="col-md-6">
                                                <input type="text" id="example-username" name="example-username" class="form-control" placeholder="Your username..">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="example-email">Email</label>
                                            <div class="col-md-6">
                                                <input type="text" id="example-email" name="example-email" class="form-control" placeholder="test@example.com">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="example-password">Password</label>
                                            <div class="col-md-6">
                                                <input type="password" id="example-password" name="example-password" class="form-control" placeholder="Choose a crazy one..">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="example-password2">Retype Password</label>
                                            <div class="col-md-6">
                                                <input type="password" id="example-password2" name="example-password2" class="form-control" placeholder="..and confirm it!">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END First Step -->

                                    <!-- Second Step -->
                                    <div id="second" class="step">
                                        <!-- Step Info -->
                                        <div class="wizard-steps">
                                            <div class="row">
                                                <div class="col-xs-4 done">
                                                    <span><i class="fa fa-check"></i></span>
                                                </div>
                                                <div class="col-xs-4 active">
                                                    <span>2. Personal</span>
                                                </div>
                                                <div class="col-xs-4">
                                                    <span>3. Extras</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Step Info -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="example-firstname">Firstname</label>
                                            <div class="col-md-6">
                                                <input type="text" id="example-firstname" name="example-firstname" class="form-control" placeholder="John..">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="example-lastname">Lastname</label>
                                            <div class="col-md-6">
                                                <input type="text" id="example-lastname" name="example-lastname" class="form-control" placeholder="Doe..">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="example-address">Address</label>
                                            <div class="col-md-6">
                                                <input type="text" id="example-address" name="example-address" class="form-control" placeholder="Where do you live?">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="example-city">City</label>
                                            <div class="col-md-6">
                                                <input type="text" id="example-city" name="example-city" class="form-control" placeholder="Which one?">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Second Step -->

                                    <!-- Third Step -->
                                    <div id="third" class="step">
                                        <!-- Step Info -->
                                        <div class="wizard-steps">
                                            <div class="row">
                                                <div class="col-xs-4 done">
                                                    <span><i class="fa fa-check"></i></span>
                                                </div>
                                                <div class="col-xs-4 done">
                                                    <span><i class="fa fa-check"></i></span>
                                                </div>
                                                <div class="col-xs-4 active">
                                                    <span>3. Extras</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Step Info -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="example-bio">Bio</label>
                                            <div class="col-md-8">
                                                <textarea id="example-bio" name="example-bio" rows="5" class="form-control" placeholder="Tell us your story.."></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="example-newsletter">Newsletter</label>
                                            <div class="col-md-6">
                                                <div class="checkbox">
                                                    <label for="example-newsletter">
                                                        <input type="checkbox" id="example-newsletter" name="example-newsletter"> Sign up
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"><a href="#modal-terms" data-toggle="modal">Terms</a></label>
                                            <div class="col-md-6">
                                                <label class="switch switch-primary" for="example-terms">
                                                    <input type="checkbox" id="example-terms" name="example-terms" value="1">
                                                    <span data-toggle="tooltip" title="I agree to the terms!"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Third Step -->

                                    <!-- Form Buttons -->
                                    <div class="form-group form-actions">
                                        <div class="col-md-8 col-md-offset-4">
                                            <input type="reset" class="btn btn-sm btn-warning" id="back" value="Back">
                                            <input type="submit" class="btn btn-sm btn-primary" id="next" value="Next">
                                        </div>
                                    </div>
                                    <!-- END Form Buttons -->
                                </form>
                                <!-- END Basic Wizard Content -->
                            </div>
                            <!-- END Basic Wizard Block -->
                        </div>


<form method='POST' action="{% url 'Visit:doctor-add-disease' num %}">
        ADD Disease
        <select id="ICD10" name="ICD10">
        {% for disease in Diseases %}
            <option value='{{disease.ICD10}}'>{{ disease }}</option>
        {% endfor %}
        </select>
		<input type="submit" value="OK">
        <ul>
        {% for disease in myDisease %}
           <li>{{ disease }} - <a href="{% url 'Visit:doctor-delete-disease' num disease.ICD10 %}">Delete</a></li>
        {% endfor %}
        </ul>
</form>

<form method='POST' action="{% url 'Visit:doctor-add-medicine' num %}">
        ADD Medicine
        <select id="medicine_name" name="medicine_name">
        {% for medicine in Medicines %}
            <option value='{{medicine.name}}'>{{ medicine }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="OK">
        <!-- {{ form.medicines }} -->
        <!-- 
        <ul>
        {% for medicine in myMedicine %}
           <li>{{ medicine }} {{ medicine.amount }} - <a href="{% url 'Visit:doctor-delete-medicine' num medicine.name %}">Delete</a></li>
        {% endfor %}
        </ul> -->
</form>
Hello
<form method='POST' action="{% url 'Visit:doctor-editStatus1' num %}">
<ul>
        {% for prescription in myPrescription %}
           <li>{{ prescription.medicines }} {{ prescription.amount }} {{ prescription.usage }}
            <li>
            <input type="number" name="{{prescription.medicines}}_amount" value="{{ prescription.amount }}"/>
            <li>
            <input type="Text" name="{{prescription.medicines}}_usage" value="{{ prescription.usage }}"/>
            <a href="{% url 'Visit:doctor-delete-medicine' num prescription.medicines %}">Delete</a></li>
        {% endfor %}
        </ul>
         <li><input type="Text" name="note" value="{{note}}"/>
        <br>
        <input type="submit" value="OK">
</form>



{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


 <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->

 
        
{% endblock %}

{% block script %}

<!-- Load and execute javascript code used only in this page -->
        {% load staticfiles %}
        <script src="{% static 'js/pages/formsWizard.js' %}"></script>
        <script>$(function(){ FormsWizard.init(); });</script>
{% endblock %}