{% extends "theme/base.html" %}
{% load crispy_forms_tags %}
{% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
{% endblock %}

{% block content %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
  	<div class="jumbotron">
  		<div class="container">
  			<h1>Make Appointment</h1>
  			<p>ทำการนัดหมาย <a class="btn btn-info btn-sm" href="#" role="button">Back to home page</a></p>
  		</div>
  	</div>

    

  	<div class="container" ng-app="makeApp" ng-controller="makeAppController">
  		<!-- Example row of columns -->
  		<div class="row">

  			<div class="col-md-6 col-md-offset-3">
  				<h2>Form</h2>
          <h1 ng-model="a"></h1>
  				<form action="/app/show/" method="post">
				    {% csrf_token %}
				    {{ form | crispy }}

				    <p>
				    	<input class="btn btn-success" type="submit" value="Submit" />
				    </p>
				</form>

  			</div>
  			
  		</div>

  		<hr>

  		<footer>
  			<p>© Company 2014</p>
  		</footer>
  	</div> <!-- /container -->

  	

{% endblock %}