{% extends "theme/base.html" %}
{% load staticfiles %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/doctor_timetable.css' %}" />
{% endblock %}

{% block content %}

<!-- Blank Header -->
<div class="content-header">
    <div class="header-section animation-stretchRight">
        <h1>
            <i class="gi gi-brush"></i>Patient List
            <a type="button" class="btn btn-primary" href="a_index_admin.html">Back</a>
            <br>
        </h1>
    </div>
</div>

<div hidden>
    {% csrf_token %}
</div>
<ul class="breadcrumb breadcrumb-top">
    <li><a href="javascript:void(0)"><i class="fa fa-home"></i> Dashboard</a></li>
    <li>Patient List</li>
</ul>
<!-- END Blank Header -->
<!-- Basic Form Elements Block -->
<div class="block">
    <!-- Basic Form Elements Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-fullscreen"><i class="fa fa-desktop"></i></a>
        </div>
        <h2><strong>Patient List</strong> Calendar</h2>
    </div>
    <!-- END Form Elements Title -->
    <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
    <div class="timetable-wrapper"> 
        <div id="calendar"></div>
        <div id="change-list-div"></div>
    </div>
    <div class="clearfix"></div>

  </form>

<div id="modal-user-detail" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h2 class="modal-title"><i class="fa fa-male"></i> Patient Detail</h2>
            </div>
            <!-- END Modal Header -->

            <!-- Modal Body -->
            <div class="modal-body">
                <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                    <fieldset>
                        <legend>Patient Info</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Full Name</label>
                            <div class="col-md-8">
                                <p class="form-control-static" id="m-name">Loading ...</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Age</label>
                            <div class="col-md-2">
                                <p class="form-control-static" id="m-age">Loading ...</p>
                            </div>
                            <label class="col-md-2 control-label">Gender</label>
                            <div class="col-md-4">
                                <p class="form-control-static" id="m-gender">Loading ...</p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Causes and Symtoms</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Causes</label>
                            <div class="col-md-8">
                                <p class="form-control-static" id="m-causes">Loading ...</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Symtoms</label>
                            <div class="col-md-8">
                                <p class="form-control-static" id="m-symtoms">Loading ...</p>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END Modal Body -->
        </div>
    </div>
</div>


</div>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery-2.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui-1.11.2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment-2.5.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/appointment/doctor_patient_list.js' %}"></script>
{% endblock %}