{% extends "theme/base.html" %}
{% load staticfiles %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/doctor_timetable.css' %}" />
{% endblock %}

{% block content %}
<!-- Blank Header -->
<div class="content-header">
    <div class="header-section animation-stretchRight">
        <h1>
            <i class="gi gi-brush"></i>Doctor Timetable
            <a type="button" class="btn btn-primary" href="a_index_admin.html">Back</a>
            <br>
        </h1>
    </div>
</div>

<div hidden>
    {% csrf_token %}
</div>
<ul class="breadcrumb breadcrumb-top">
    <li><a href="javascript:void(0)"><i class="fa fa-home"></i> Dashboard</a></li>
    <li>Doctor Timetable</li>
</ul>
<!-- END Blank Header -->
<!-- Basic Form Elements Block -->
<div class="block">
    <!-- Basic Form Elements Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-fullscreen"><i class="fa fa-desktop"></i></a>
        </div>
        <h2><strong>Appointment</strong> Form</h2>
    </div>
    <!-- END Form Elements Title -->
    <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
    <div class="timetable-wrapper"> 
        <div id="calendar"></div>
        <div id="change-list-div"></div>
    </div>
    <div class="clearfix"></div>

  </form>


</div>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery-2.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui-1.11.2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment-2.5.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/appointment/doctor_timetable.js' %}"></script>
{% endblock %}