
{% extends "theme/base.html" %}
{% load staticfiles %}

{% block title %}
Nurse : SE hospital
{% endblock %}

{% block content %}

<form method='POST' action=''>
    <div class='row'>
       <div class="block">
        <div class="block-title">
            <h2><strong>{{mymodel.appointment.patient_id.userprofile.firstname}} {{mymodel.appointment.patient_id.userprofile.lastname}}</strong> </h2>
        </div>
        <div class="step">                      
        {% if form.weight.errors %}
        <div class="has-error"></div>
        {% else %}
        <div class="form-group">
            <label class="col-md-3 control-label" for="example-username">Weight</label>
            <div class="col-md-9 control-label">
                    {{ form.weight}}
                
            kilograms
            </div>

        </div>
        {% endif %}
        {% if form.height.errors %}
        <div class="has-error">
        {% else %}
        <div class="form-group">
            <label class="col-md-3 control-label" for="example-username">Height</label>
            <div class="col-md-9 control-label">
                    {{ form.height}}
            centimetres    
            </div>
            
        </div>
        {% endif %}
        {% if form.pulse.errors %}
        <div class="has-error">
        {% else %}
        <div class="form-group">
            <label class="col-md-3 control-label" for="example-username">Pulse</label>
            <div class="col-md-9 control-label">
                    {{ form.pulse}}
            bpm    
            </div>
            
        </div>
        {% endif %}
        {% if form.systolic.errors %}
        <div class="has-error">
        {% else %}
        <div class="form-group">
            <label class="col-md-3 control-label" for="example-username">Systolic</label>
            <div class="col-md-9 control-label">
                    {{ form.systolic}}
            mmHg    
            </div>
            
        </div>
        {% endif %}
        {% if form.diastolic.errors %}
        <div class="has-error">
        {% else %}
        <div class="form-group">
            <label class="col-md-3 control-label" for="example-username">Diastolic</label>
            <div class="col-md-9 control-label">
                    {{ form.diastolic}}
             mmHg   
            </div>

        </div>
        
        {% endif %}
        <div class="form-group">
            <label class="col-md-3 control-label" for="example-username">Allergy</label>
            <div class="col-md-9 control-label">
                <input type="text" name="allergy" value="{{mymodel.appointment.patient_id.allergy}}"></input>  
            </div>

        </div>
        
		<br><br>
            <div class="col-md-offset-4">
                <input type="submit" value="Submit" class="btn btn-sm btn-primary">
            </div>
    </div>
    </div>
    </div>
</form>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}