
{% extends "theme/base.html" %}
{% load staticfiles %}

{% block title %}
Nurse : SE hospital
{% endblock %}

{% block content %}

<form method='POST' action=''>
    <div class='row'>
       <div class="block">
        <div class="block-title">
            <h2><strong>{{mymodel.appointment.patient_id.userprofile.firstname}} {{mymodel.appointment.patient_id.userprofile.lastname}}</strong> </h2>
        </div>
        <table class="table table-borderless table-striped">
        <tbody>
        
        {% if form.weight.errors %}
        <div class="has-error">
        {% else %}
        <tr>
            <td style="width:30%">
                Weight
            </td>
            <td>
                {{form.weight}}
            </td>
            <td>
                kilograms
            </td>
        </tr>
         
        {% endif %}
        {% if form.height.errors %}
        <div class="has-error">
        {% else %}
        <tr>
            <td style="width:30%">
                Height
            </td>
            <td>
                {{form.height}}
            </td>
            <td>
                centimetres
            </td>
        </tr>
        {% endif %}
        {% if form.pulse.errors %}
        <div class="has-error">
        {% else %}
        <tr>
            <td style="width:30%">
                Pulse
            </td>
            <td>
                {{form.pulse}}
            </td>

            <td>
                bpm
            </td>
        </tr>
        {% endif %}
        {% if form.systolic.errors %}
        <div class="has-error">
        {% else %}
        <tr>
            <td style="width:30%">
                Systolic
            </td>
            <td>
                {{form.systolic}}
            </td>

            <td>
                mmHg
            </td>
        </tr>
        {% endif %}
        {% if form.diastolic.errors %}
        <div class="has-error">
        {% else %}
        <tr>
            <td style="width:30%">
                Diastolic
            </td>
            <td>
                {{form.diastolic}}
            </td>

            <td>
                mmHg
            </td>
        </tr>
        
        </div>
        
        {% endif %}
        <tr>
            <td style="width:30%">
                Allergy
            </td>
            <td>
                <input type="text" name="allergy" value="{{mymodel.appointment.patient_id.allergy}}"></input>  
            </td>

            <td>
                
            </td>
        </tr>
        <tr>
            <td style="width:30%">
                Responsible Doctor
            </td>
            <td>
                {{mymodel.appointment.timetable_id.doctor_id.userprofile.firstname}} 
                {{mymodel.appointment.timetable_id.doctor_id.userprofile.lastname}} 
            </td>
            <td>
                
            </td>
        </tr>
        


        </tbody></table>
		
            <div class="col-md-offset-4">
                <input type="submit" value="Submit" class="btn btn-sm btn-primary">
            </div>
    </div>
    </div>
    </div>
</form>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}