{% extends "theme/base.html" %}
{% load staticfiles %}

{% block title %}
    Nurse : SE hospital
{% endblock %}




{% block content %}
	<div class="content-header content-header-media">
        <div class="header-section">
            <div class="row">
                <!-- Main Title (hidden on small devices for the statistics to fit) -->
                <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                    <h1>Welcome <strong>Nurse</strong>
                        <br><small>{{firstname}} {{lastname}}</small></h1>
                </div>
                <!-- END Main Title -->

                <!-- Top Stats -->
                <div class="col-md-8 col-lg-6">
                    <div class="row text-center">
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>{% now "j" %} </strong><br>
                                <small><i class="fa fa-calendar-o"></i> day</small>
                            </h2>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>{% now "F" %} </strong><br>
                                <small> month</small>
                            </h2>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>{% now "Y" %} </strong><br>
                                <small>year</small>
                            </h2>
                        </div>
                        <!-- We hide the last stat to fit the other 3 on small devices -->
                        <div class="col-sm-3 hidden-xs">
                            <h2 class="animation-hatch">
                                <strong>29&deg; C</strong><br>
                                <small><i class="fa fa-map-marker"></i> Bangkok</small>
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- END Top Stats -->
            </div>
        </div>
        <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
        <img src="img/placeholders/headers/dashboard_header.jpg" alt="header image" class="animation-pulseSlow">
    </div>
    <!-- END Dashboard Header -->

    <!-- Mini Top Stats Row -->
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <!-- Widget -->
            <a href="{% url "visit:nurse-view" %}" class="widget widget-hover-effect1">
                <div class="widget-simple">
                    <div class="widget-icon pull-left themed-background animation-fadeIn">
                        <i class="fa fa-users"></i>
                    </div>
                    <h3 class="widget-content text-right animation-pullDown" style="font-size:2em;">
                        <strong>View patient</strong> information<br>
                    </h3>
                </div>
            </a>
            <!-- END Widget -->
        </div>
       
       
       
    </div>
    <!-- END Mini Top Stats Row -->

    <!-- Widgets Row -->
    <div class="row">
        <div class="col-md-12">
            <!-- Your Plan Widget -->
            <div class="widget">
                <div class="widget-extra themed-background-dark">
                    <div class="widget-options">
                        <div class="btn-group btn-group-xs">
                            <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Edit Widget"><i class="fa fa-pencil"></i></a>
                            <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Quick Settings"><i class="fa fa-cog"></i></a>
                        </div>
                    </div>
                    <h3 class="widget-content-light">
                        Patient Count
                        <small><a href="#"><strong>Today</strong></a></small>
                    </h3>
                </div>
                <div class="widget-extra-full">
                    <div class="row text-center">
                        <div class="col-xs-4 col-lg-4">
                            <h3>
                                <strong>{{ checked }}</strong> <small>/{{ allapp }}</small><br>
                                <small><i class="fa fa-check-square-o"></i> Already diagnosed</small>
                            </h3>
                        </div>
                        <div class="col-xs-4 col-lg-4">
                            <h3>
                                <strong>{{ wait }}</strong> <small>/{{ allapp }}</small><br>
                                <small><i class="fa fa-clock-o "></i> Waiting</small>
                            </h3>
                        </div>
                        <div class="col-xs-4 col-lg-4">
                            <h3>
                                <strong>{{ allapp }}</strong> <br>
                                <small><i class="fa fa-building-o"></i> Total patients</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Your Plan Widget -->


        </div>
      
    </div>
    <!-- END Widgets Row -->

{% endblock %}